<article class="article">
  <header>
    <h1 class="article__heading" style="font-size: 42px; text-align: center">Naďalej potrebujete pomoc?</h1>
  </header>

  <div class="article__body">
    <p class="margin-bottom-large">
      Ak naďalej hľadáte pomoc, alebo chcete ponúknuť pomoc, môžete použiť aplikáciu pomoci. O materiálnu pomoc môžu
      žiadať a pomoc môžu ponúknuť všetky zdravotnícke zariadenia — štátne aj súkromné. Rovnako tiež domovy sociálnych
      služieb a zariadenia pre seniorov, ako aj samosprávy a , občianske združenia, nadácie poskytujúce starostlivosť o
      zraniteľné skupiny obyvateľstva.
    </p>
    <a href="https://kps.solved.fi" class="button button--primary button--center">
      Aplikácia pomoci
    </a>
  </div>
</article>
