{% extends "layout.html.twig" %}
{% block title %}Kto pomôže Slovensku #ktoPomozeSlovensku{% endblock %}
{% block main %}
  <div class="l-container">
    <header class="hero">
      <h1 class="article__heading">Pandemická situácia je vážna.</h1>
      <div class="l-container">
        <div class="article" style="margin-bottom: 0px;">
          <p>
            Pandemická situácia je vážna!
            Počty prípadov rastú a nemocnice aj zdravotníci sú preťažení. Kto pomôže Slovensku? My všetci a každý z nás
            zároveň - tým, že budeme dodržiavať a šíriť <a style="font-weight: bold; color: #D0021B;"
                                                           href="{{ asset('static/img/desatoro_bezpecnych_vianoc.jpg') }}">Desatoro
              pre bezpečné Vianoce</a> od našich vedcov. Spojili sme sa s
            Veda pomáha - COVID 19, aby sme rozšírili vianočné desatoro a pomohli dostať pandémiu na Slovensku pod
            kontrolu. Zároveň opätovne zbierame finančné prostriedky na pomoc pre zdravotníkov a ľudí v prvej línii,
            ktorí pomáhajú v rôznych komunitách. Podporíme aj vedcov, aby bolo viac počuť ich poznatky a sprostredkujeme
            ich ľuďom. <b>Pridajte sa k nám a prispejte, musíme sa o seba oprieť, zvládneme to</b>.
          </p>
        </div>
      </div>
    </header>
  </div>
  <div class="l-container">
    <section class="article" style="display: flex; margin-bottom: 20px;">
      <div style="flex: 1; padding: 20px;">
        <img src="/static/img/qrcode.png" alt="PAY by square QR kód"
             style="width: 300px;margin-top: 16px;max-width: 100%;">
      </div>
      <div style="flex: 1; padding: 20px;">
        <a href="viamo://?requestString=QP%3A1.0*BID%3AKTOPOMOZESLOVENSKU*SIG%3A0E9BC6DCAD5CE77F0C909F11384C54F3"><img
            src="/static/img/viamo.png" alt="Viamo QR kód" style="width: 300px;margin-top: 16px;max-width: 100%;"></a>
      </div>
    </section>
    <section class="article">
      <header>
        <h3 style="text-align: center;">Transparentný účet:</h3>
        <span style=" text-align:center; font-size: 36px; font-weight: bold">SK2683300000002901467117</span>
      </header>
    </section>

    {% include "partials/donated.html.twig" %}
  </div>

  {# <div class="l-container l-container--no-padding"> #}
  {# {% include "partials/recru.html.twig" %} #}
  {# </div> #}

  <div class="l-container">
    {% include "partials/need-help.html.twig" %}

    <article class="article">
      {% include "partials/who-asks-for-help.html.twig" %}
    </article>

    <article class="article">
      {% include "partials/item-status.html.twig" %}
      <a href="{{ path('we-helped') }}">Zobraziť celý prehľad</a>
    </article>

    <article class="article">
      {% include "partials/testimonails.html.twig" %}
    </article>

    <article class="article">
      {% include "partials/donations-history.html.twig" %}
    </article>

    <article class="article">
      <header>
        <h1 class="article__heading">O projekte</h1>
      </header>

      <div class="article__body">
        <p>Prečo sme to všetko urobili? Lebo všetkého bol nedostatok. Pomáhali slovenským zdravotníckym zariadeniam
          zvládnuť pandémiu koronavírusu cez prehľadný systém financovania a zabezpečenia materiálnej pomoci pre
          nemocnice a domovy sociálnych služieb. Dnes pozorne sledujeme situáciu s odstupom a veríme, že vďaka aplikácii
          pomoci sa naďalej v pomoci sa môže zapojiť každý, kto chce a môže.</p>
        <a href="{{ path('about') }}">Čítajte viac</a>
      </div>
    </article>
  </div>
{% endblock %}

