{% extends "layout.html.twig" %}
{% block main %}
  <div class="l-container">
    <h1 class="hero__heading-standalone">Komu sme pomohli</h1>

    <article class="article">
      <div class="article__body">
        <ul>
          <li class="l-log">
            <span class="l-log__date">13. 3. 2020</span>
            <span class="l-log__desc">
              <strong>Fakultná nemocnica Martin.</strong>
                Pre obvodných, všeobecných lekárov a pediatrov, 3x5 litrov 80% dezinfekcie na ruky.
              </span>
          </li>
          <li class="l-log">
            <span class="l-log__date">13. 3. 2020</span>
            <span class="l-log__desc">
              <strong>BaMaMed Nitra.</strong>
                Doručených 100ks rúšok
              </span>
          </li>
          <li class="l-log">
            <span class="l-log__date">20. 3. 2020</span>
            <span class="l-log__desc">
              <strong>BaMaMed Nitra.</strong>
                Doručených 300ks rúšok, 300 párov rukavíc, 600 respi
              </span>
          </li>
        </ul>
      </div>
    </article>

    {% include "partials/need-help.html.twig" %}
  </div>
{% endblock %}
