{% extends "layout.html.twig" %}
{% block title %}Hovorme o tom | Kto pomôže Slovensku{% endblock %}
{% block main %}
  <div class="l-container">
    <h1 class="hero__heading h2">Hovorme o tom</h1>
    <p class="p2 margin-bottom-xx-large">Postarajme sa o seba navzájom, aby nás neprevalcovali úzkosti a obavy.</p>

    <article class="article">
      <div class="article__body">
        <p class="p2">
          Pandémia, hygienické a karanténne opatrenia menia náš zabehnutý spôsob života. Pasujeme sa potýkame sa s
          problémami dlhodobej izolácie aj s obavami z budúcnosti nás i našich blízkych. A tieto pocity úzkosti môžu
          neskôr prerásť aj do fyzických prejavov, ako je stiahnutý žalúdok, zvýšený tlak, nespavosť či depresívne
          nálady.
        </p>
        <p class="p2">
          Situácia dolieha rovnako na všetkých – zdravotníkov, chorých aj zdravých, rodičov, deti aj seniorov,
          podnikateľov, zamestnancov aj zamestnávateľov...
        </p>
        <p class="p2">
          Zároveň, sú medzi nami ľudia, ktorí boli krehkejší, či oslabení už pred koronakrízou – na nichmôže situácia
          doliehať ešte silnejšie. Sami nemajú kapacitu hľadať pomoc aktejto našejwebstránke sa ani nedostanú. Ak sú
          takí ľudia vo vašom okolí, prosím prekonajtespoločenskú bariéru aprejavte záujem, ponúknite informáciu omožnej
          pomoci. Je to dôležitépre zdravie našej spoločnosti aprínosné nakoniec pre všetkých.
        </p>
        <p class="p2">
          V takejto vypätej situácii je veľmi ťažké zachovať si duševnú rovnováhu a nájsť vnútornú silu na pomoc sebe aj
          ostatným.. Aby sme to všetko zvládli ako jednotlivci, rodiny aj celá spoločnosť, potrebujeme sa udržiavať v čo
          najlepšej fyzickej, ale aj psychickej kondícii.
        </p>
      </div>
    </article>

    <article class="article">
      <div class="article__body text-center">
        <header>
          <h4 class="margin-bottom">Ak si lekár, zdravotník, záchranár</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Napíš odborníkom<br>
          <a href="mailto:prezdravotnikov@gmail.com">prezdravotnikov@gmail.com</a><br>
          (onedlho tu pribudne kontakt na nonstop linku pre zdravotnikov)<br>
          Non-stop<br>
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="margin-bottom">Ak máš menej ako 18 rokov</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Zavolaj na <a href="http://www.ldi.sk">Linku Detskej Istoty</a><br>
          (116 111)<br>
          Non-stop<br>
          <br>
          Alebo<br>
          <br>
          Kontaktuj spoločnosť priateľov detí - <a href="http://linkadeti.sk/">Li(e)nka</a><br>
          (0907 401 749)<br>
          <a href="mailto:odkazy@linkadeti.sk">odkazy@linkadeti.sk</a><br>
          Skype (linkadeti)<br>
          V pracovné dni v čase 14:00 - 20:00<br>
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="margin-bottom">Ak si dospelý akéhokoľvek veku</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Zavolaj na <a href="http://www.linkanezabudka.sk">Linku Nezábudka</a><br>
          (0800 800 566)<br>
          Non-stop<br>
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="margin-bottom">Ak uprednostňuješ online komunikáciu cez chat a e-mail</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Napíš na <a href="http://ipcko.sk">IPčko.sk</a><br>
          (0800 500 333)<br>
          Non-stop<br>
        </p>
      </div>

      <div class="article__body text-center">
        <header>
          <h4 class="margin-bottom">Ak si žena, ktorá zažíva násilie a potrebuje pomoc</h4>
        </header>
        <p class="p2 margin-bottom-x-large">
          Zavolaj na bezplatnú linku<br>
          (0800 212 212)<br>
          Non-stop<br>
        </p>
      </div>

      {# <div class="article__body text-center"> #}
      {# <header> #}
      {# <h4 class="margin-bottom">Ak si senior z Bratislavy</h4> #}
      {# </header> #}
      {# <p class="p2 margin-bottom-x-large"> #}
      {# 0800242000 #}
      {# </p> #}
      {# </div> #}

      {# <div class="article__body text-center"> #}
      {# <header> #}
      {# <h4 class="margin-bottom">Ak si rodič a potrebujes poradiť ako zvládnuť deti v čase korony</h4> #}
      {# </header> #}
      {# <p class="p2 margin-bottom-x-large"> #}
      {# 0800242333 #}
      {# </p> #}
      {# </div> #}

      <p class="p2"> Linky dôvery a chatové či e-mailové poradenstvo sú bezplatné, anonymné a sú tiež bezkontaktné,
        nepredstavujú teda žiadne riziko prenosu korona vírusu.</p>
    </article>

    {% include "partials/recru-speak-about-it.html.twig" %}

    <article class="article">
      <header>
        <h2 class="hero__heading-standalone text-center">Ako si pomôcť sám?</h2>
      </header>
      <div class="article__body">
        <p>
          Každému z nás sa môže stať, že je v jednej chvíli zavalený a nevie ako ďalej. Nervozita stúpa, ruky chladnú,
          môžu sa chvieť, srdce je ako splašený kôň. Je to normálna reakcia našej psychiky a tela na situáciu ohrozenia,
          je však dobré, keď odozneje. Sú aj chvíle, keď sa potrebujeme rýchlo upokojiť, pretože máme na starosti iných.
          Ale ako na to?
        </p>
        <p>
          Na tomto mieste nájdete rýchle postupy psychologickej prvej pomoci, ktoré môžete v pár krokoch využiť pre
          seba, alebo pre svojich blízkych. Tiež tu nájdete jednoduché spôsoby, ako sa preventívne udržiavať v dobrej
          psychickej
          kondícií a priebežne si trénovať svoju psychickú odolnosť.
        </p>
        <p>
          <b>Dôležité:</b> Prosíme neostávajte so svojou nepohodou či krízou sami! Prvá pomoc je len prvý krok – ozvite
          sa pomáhajúcim odborníkom, povedzte o tom, ako sa cítite, svojim blízkym.
        </p>
      </div>
    </article>

    <article class="article" id="ako-si-udrzat-psychicke-zdravie-pocas-lockdownu">
      <header>
        <h2 class="hero__heading-standalone text-center" style="padding-bottom: 32px;">Ako si udržať psychické zdravie
          počas lockdownu</h2>
        <h3 style="font-size: 24px;">PhDr. Stanislava Segečová - autorka je klinická psychologička a
          psychoterapeutka</h3>
      </header>
      <div class="article__body" style="margin-top: 20px;">
        <p>
          Aktuálna pandemická situácia má charakter záťažovej, krízovej situácie. Dôležité však je, že nebude trvať
          večne a bude mať prechodný charakter. To, čo pre seba môžeme urobiť, je zapojiť všetky svoje dostupné zdroje,
          aby sme ňou prešli a neochoreli (fyzicky i psychicky). Tak ako každá krízová situácia, však má v sebe aj
          potenciál pre rast a osobnostný rozvoj, môže slúžiť ako príprava na iné krízy v budúcnosti a zvyšovať odolnosť
          človeka.
        </p>
        <p>
          Dôležité je v tomto období dbať na režim dňa a zamerať sa na rovnováhu 5 oblastí: povinnosti, voľný čas,
          spánok a životospráva, pohyb, sociálny kontakt.
        </p>
      </div>
      <div class="article__body" style="margin-top: 20px;">
        <p><strong>1. Povinnosti/práca</strong> – ak došlo k zmene dennej rutiny a práca prebieha formou home office, je
          vhodné vyvažovať čas strávený pred počítačom aktivitami v reálnom živote (pohyb, prechádzka, kniha, čokoľvek).
          Pomôže to predchádzať únave z virtuálneho priestoru. Ak súčasne človek rieši aj dištančné vzdelávanie svojich
          detí, varenie, starostlivosť o domácnosť a pod., je vhodné dopriať si počas dňa aj chvíľu samoty, čo je
          dôležité pre oddych a načerpanie energie, ale i reflexiu a spracovanie mnohých podnetov počas dňa.</p>
        <p>Naopak ten, kto žije sám a pracuje z domu, môže výraznejšie pociťovať izoláciu a osamotenosť a má zvýšenú
          potrebu kontaktu. Je vhodné túto potrebu napĺňať dostupnými prostriedkami, využiť telefonáty, videochaty,
          komunikáciu cez aplikácie, nestratiť kontakt s kamarátmi a blízkymi ľuďmi.</p>
        <p>Je teda dôležité vnímať svoje vlastné pocity, nenútiť sa do niečoho nasilu a určitým spôsobom kompenzovať tie
          potreby, ktoré sú v pandemickej situácii frustrované, vhodnou formou. Je v poriadku, keď človek má potrebu
          kontaktu, aj keď ju nemá, je unavený z ľudí a chce byť sám.</p>
        <p>Zároveň všetko, čo sa dá a je z epidemiologického hľadiska bezpečné, doporučujem robiť ako za bežných
          okolností, na podporu udržania pocitu „normálnosti“, istoty a bezpečia.</p>
        <p>Vhodné je v takejto krízovej situácii nerobiť zásadné životné zmeny, ak je to čo len trochu možné. Keďže
          situácia je momentálne nestabilná, každý potrebuje skôr posilniť tie elementy istoty a bezpečia, ktoré v
          živote má.</p>
        <p>Ak niekomu hrozia finančné ťažkosti v dôsledku pandémie, je vhodné urobiť si dôkladnú inventúru finančných
          záležitostí, prípadne rizík (napr. pri strate práce: zmapovať iné ponuky, možnosti brigády, využiť úspory,
          zvážiť pôžičku, požiadať niekoho blízkeho o pomoc, redukovať výdavky atď).</p>
        <p>Aj v prípade iných individuálnych kríz môže pomôcť podobné hľadanie východísk a riešení, v zmysle
          identifikovania plánu a získaniu lepšej kontroly nad situáciou. </p>
        <p>Môžeme tiež čerpať z iných stratégií zvládania z minulosti – napr. si premietnuť, kedy v živote sme sa ocitli
          v záťažovej situácii a čo nám vtedy pomohlo.</p>
      </div>
      <div class="article__body" style="margin-top: 20px;">
        <p><strong>2. Voľný čas</strong> - skúste zapojiť svoje zdroje – koníčky, možnosti a spôsoby, ktoré vám pomáhajú
          dobiť baterky. Je vhodné zaradiť si ich na každý deň, hoci aj na krátku dobu. Skúste kreatívne hľadať
          možnosti, aby ste sa nemuseli vzdávať toho, čo máte radi (šport v exteriéri alebo doma namiesto fitka,
          obľúbené jedlo donáškovou službou namiesto reštaurácie, kino, divadlo alebo koncert online), prípadne nájsť a
          rozvíjať nové hobby.</p>
        <p>Využite toto obdobie na trávenie času s rodinou, rozhovory, spoločenské hry, výlety do prírody (sú to veci,
          ktoré už boli doporučované v minulosti, ale keďže fungujú, treba ich naďalej zaraďovať). Pre nedostatočný
          kontakt s kamarátmi sa mnoho detí môže cítiť osamelo, je dôležité, aby im rodičia boli nablízku, prejavili
          ústretovosť a záujem o ich svet, viac sa rozprávali. Potrebné je preto, aby rodič samotný sa dokázal postarať
          o vlastné potreby a byť v rámci možností stabilný, aby dokázal v tejto situácii podporiť svoje dieťa a dodať
          nádej.</p>
        <p>Lockdown môže byť priestor na zvýraznenie iných hodnôt než doteraz (namiesto materiálneho, konzumného,
          výkonového aspektu života dôraz skôr na rodinné, sociálne, etické, estetické, spirituálne hodnoty).</p>
        <p>Nezabúdať ani na pasívny oddych, zvlášť ak je človek pracovne veľmi vyťažený – to sa môže týkať napr.
          zdravotníkov. Je zrozumiteľné, ak pri tomto pracovnom tempe neostáva v čase voľna energia už takmer na nič, je
          dôležité dopriať si každý možný moment na regeneráciu. Je potrebné odsunúť niektoré záležitosti a povinnosti,
          ktoré nie sú akútne, na obdobie po pandémii, delegovať na iných alebo ich úplne vypustiť. Dôležité je
          momentálne na seba nenakladať viac, než človek unesie, nastaviť sa na akýsi medium alebo light mód výkonu a
          akceptovať, že je to v úplnom poriadku.</p>
        <p>Uvedomiť si, že keď nám nejaká oblasť energiu zvýšene odoberá, je o to dôležitejšie ju v inej oblasti
          dopĺňať. Bez toho hrozí nielen „bežné“ vyhorenie a apatia, ale aj celkové vyčerpanie a kolaps organizmu.</p>
      </div>
      <div class="article__body" style="margin-top: 20px;">
        <p><strong>3. Spánok a životospráva</strong> – v tejto dobe je zvlášť dôležité dbať na správnu životosprávu,
          pravidelný režim by mal byť aj v stravovaní a spánkovej hygiene. Teda napriek tomu, že je človek doma, nemal
          by si predlžovať bdenie do nočných hodín, ale vstávať a chodiť spať približne v rovnakú hodinu. Narušenie
          biorytmu a poruchy spánku zvyšujú pohotovosť k rozladám a horšej regulácii emócií. Pred spaním je potrebné
          vyhýbať sa modrému svetlu z obrazoviek, teda aj v tomto musí mať home office svoje hranice – večer
          minimalizovať prácu a venovať sa relaxu a rodine.</p>
        <p>Opatrnosť s alkoholom – okrem rizika zvýšenej spotreby alkoholu, prípadne až vzniku závislosti je alkohol
          depresogén, teda zvyšuje tendenciu k rozladám. Namiesto zdanlivého navodenia dobrej nálady a odstránenia
          napätia sa tak človek na druhý deň cíti ešte horšie. Rovnako je potrebné predchádzať i tzv. nelátkovým
          závislostiam – na počítači, smartfónoch, herných konzolách, internete, pornografii, nadmernom online
          nakupovaní. Rodičia by mali dbať na dodržiavanie určitých hraníc a limitov, aj keď je to aktuálne náročnejšie,
          ale hrozba nelátkových závislostí nezmizla ani v pandémii. Teda je dôležité vyvažovať online život offline
          spôsobmi trávenia času.</p>
      </div>
      <div class="article__body" style="margin-top: 20px;">
        <p><strong>4. Pohyb</strong> – je dokázané, že pravidelná pohybová aktivita strednej intenzity má antidepresívny
          účinok a zlepší náladu. Kto môže, mal by športovať, ale úplne môže stačiť aj prechádzka na čerstvom vzduchu.
          Sami si môžete všimnúť, že keď u seba vnímate zhoršenie nálady, po prechádzke alebo športe sa situácia rýchlo
          zmení. Dobrou správou je, že pohyb a cvičenie je niečo, čo asi nebude počas pandémie nikdy zakázané. Táto
          situácia môže byť výzvou pre naštartovanie pravidelnej pohybovej aktivity i pre tých, ktorí doteraz necvičili,
          prípadne sa spojiť aj s inými motiváciami častými v úvode roka (chudnutie, vyformovanie postavy, zlepšenie
          zdravia).</p>
        <p>Takisto je potrebné viesť k pohybu aj deti, formami ktoré sú k dispozícii, podľa možnosti aj s hrovým
          aspektom. Okrem výchovného vedenia k zdravému životnému štýlu je to pre nich dôležitý ventil, možnosť
          fyzického odreagovania napätia a kompenzácia prevažne sedavého a online spôsobu trávenia času v
          súčasnosti.</p>
      </div>
      <div class="article__body" style="margin-top: 20px;">
        <p><strong>5. Sociálny kontakt</strong> - v kontakte s najbližšími skúsme prejaviť vľúdnosť, toleranciu a
          akceptáciu, momentálne to máme všetci ťažké a môže dochádzať k napätým situáciám aj pre maličkosti. Posilňujme
          to, čo nás spája a buďme veľkorysí k tomu, čo nás od seba vzďaľuje. Je dôležité flexibilne narábať s
          blízkosťou a vzdialenosťou vo vzťahoch: rešpektovať i potrebu vzdialenia sa od iných, aby sme sa k nim mohli
          opäť priblížiť.</p>
        <p>V ostatných vzťahoch je vhodné využívať dostupné formy komunikácie dištančným spôsobom, udržiavať existujúce
          kontakty, prípadne aj skúsiť nadviazať nové cez online platformy, záujmové skupiny na sociálnych sieťach a
          pod. Súčasne si dopriať aj potrebnú samotu (viď vyššie).</p>
        <p>Je však potrebné myslieť na určité hranice v online svete, aj čo sa týka komunikácie a informácií – stanoviť
          si vlastný limit, kedy a ako dlho chce človek sledovať správy alebo napr. aj sociálne médiá. Vhodné je vyberať
          si pre svoju informovanosť relevantné zdroje, dbať na objektívne fakty a dáta podložené vedeckým poznaním. Je
          dôležité byť informovaný, ale aj uvoľnený, dovoliť si vypnúť a nemyslieť na pandémiu nonstop. Nedovoliť
          zahltiť sa informáciami, každý má vlastnú (a obmedzenú) kapacitu, koľko podnetov dokáže spracovať a mal by
          rešpektovať svoje možnosti. Rodičia by mali mať na pamäti hrozbu kyberšikany a kybergroomingu a nestrácať
          prehľad o aktivitách svojich detí v online priestore.</p>
        <p>Celkovo je nápomocné i napĺňanie potreby pomáhať, teda nestarať sa len o seba a vlastný život, ale byť
          ústretový aj k ostatným, vnímať ich potreby, čo je sýtiace aj pre pomáhajúceho.</p>
      </div>
      <div class="article__body" style="margin-top: 20px;">
        <p>
          Keď sa niekomu zdá, že to miestami nezvláda, už to „nedáva“, je to teraz z psychologického hľadiska
          pochopiteľné, je to normálna reakcia na nenormálnu situáciu. Ľahšie stavy takýchto rozlád doporučujem riešiť
          psychohygienicky, zapojením svojich zdrojov a doporučení z uvedených bodov. Väčšinou sú tieto rozlady
          prechodné a vystrieda ich bežná, „normálna“ alebo aspoň neutrálna nálada. Ak to nepomáha, stav sa zhoršuje a
          ťažkosti prehlbujú, je vhodné vyhľadať odbornú pomoc (psychológ, psychiater). To isté platí v prípade
          ohrozenia života a zdravia (obete domáceho násilia, sebadeštruktívne impulzy alebo až suicidálne tendencie).
        </p>
      </div>
    </article>

    <article class="article">
      <header>
        <h2 id="cvicenia" class="hero__heading-standalone text-center">Cvičenia prvej pomoci:</h2>
      </header>
      <div class="article__body">
        <h4 class="hero__heading margin-bottom">Zakotvenie v zmysloch</h4>
        <p>
          Nájdite si pohodlnú telesnú polohu. Niekoľkokrát sa pomaly nadýchnite a vydýchnite.
          Všimnite si, čo prežívate a čo cítite v tele. Pomenujte pre seba 3 veci, ktoré okolo seba vidíte. Všimnite si,
          čo počujete (aké zvuky z okolia, vlastný dych...) a čoho sa dotýkate (kontakt so stoličkou, miesto dotyku nôh
          so zemou...). Takýmto spôsobom sa pevnejšie zakotvíte v prítomnosti a znížite tak mieru napätia.
        </p>

        <h4 class="hero__heading margin-bottom">Dychové cvičenie</h4>
        <p>
          Cieľom je spomaliť a dovoliť si relaxovať. Pohodlne sa usaďte. Nadychujte sa nosom a v duchu pritom počítajte
          do 4. Potom dych zadržte taktiež na 4 doby a pomaly vydychujte ústami (na 7 dôb). Doprajte si pri dýchaní
          pozvoľné tempo. Zopakujte niekoľkokrát.
        </p>

        <h4 class="hero__heading margin-bottom">Všímavá pauza alebo ukotvenie v prítomnosti</h4>
        <h5 class="hero__heading"><b>Krátka audionahrávka (5 min)</b></h5>
        <p>
          Môžete si pustiť kedykoľvek počas dňa alebo keď si všimnete u seba nejaký nepríjemný moment - na ukotvenie v
          prítomnom okamihu. Ideálne vyskúšať na týždeň pustiť si nahrávku každý deň, aby ste sa s ňou zoznámili.
        </p>
        <a href="https://www.mindpark.sk/audio-cvicenia">Audionahrávku si stiahnite kliknutím sem.</a>
      </div>
    </article>

    <article class="article" id="ako-zvladnut-stres">
      <header>
        <h2 class="hero__heading-standalone text-center">Ako zvládnuť stres</h2>
      </header>
      <div class="article__body">
        <p class="p1 text-center hero__subheading">Tipy na zvládanie stresu spojeného s karanténou:</p>

        <h4 class="hero__heading margin-bottom">Zvýšená úzkosť alebo napätie</h4>
        <p>
          Napätie a úzkosť (napr. myšlienky na to, že sa niečo zlé prihodí, očakávanie najhorších možných scenárov) sa v
          podobných situáciách vyskytujú často a sú normálnou reakciou na nenormálnu situáciu.<br>
          Môžu mať podobu myšlienok (napr. na to, že sa niečo zlé prihodí, očakávanie najhorších možných scenárov)
          emócie alebo telesných reakcií, napr. búšenie srdca či potenie. Ľudia sa môžu obávať o svoju budúcnosť, mať
          poruchy spánku či zaspávania, problémy so sústredením a pocity nervozity.
        </p>
        <p>
          Najlepšie urobíme, ak so sebou i druhými budeme zaobchádzať trpezlivo, veľkoryso a súcitne.
        </p>
        <p>
          Napätie a úzkosť (napr. myšlienky na to, že sa niečo zlé prihodí, očakávanie najhorších možných scenárov) sa v
          podobných situáciách vyskytujú často a sú normálnou reakciou na nenormálnu situáciu.<br>
          Môžu mať podobu myšlienok (napr. na to, že sa niečo zlé prihodí, očakávanie najhorších možných scenárov)
          emócie alebo telesných reakcií, napr. búšenie srdca či potenie. Ľudia sa môžu obávať o svoju budúcnosť, mať
          poruchy spánku či zaspávania, problémy so sústredením a pocity nervozity.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Pripomenúť si, že ide o normálnu reakciu zdravého človeka na nenormálnu situáciu. Použite dýchacie a relaxačné
          cvičenia. Venujte sa im pravidelne – môžu vám pomôcť so spánkom, sústredením a dodať viac energie.<br>
          <a href="#cvicenia">Cvičenia prvej pomoci</a><br>
          Prestaňte piť kávu a povzbudzujúce čaje.<br>
          Fyzické cvičenie – napr. beh alebo rýchla chôdza vám pomôže uvoľniť nadbytočné napätie. Ak cítite veľké
          napätie, uvoľnite energiu pohybom ešte pred relaxáciou.<br>
        </p>
        <h4 class="hero__heading margin-bottom">Sebaobviňovanie a pocity hanby</h4>
        <p>
          Môžu prichádzať pre vaše vlastné reakcie na situáciu. Mnoho ľudí môže mať silné reakcie z toho ako reagovali.,
          vrátane viny alebo presvedčenia, že niečo urobili zle.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Vytvorte príležitosť pohovoriť o vašich reakciách s vašimi priateľmi alebo rodinnými príslušníkmi.<br>
          Napríklad, cez pozvanie kávu na balkón alebo telefonát s osobou, ktorej dôverujete: „Chcem ti porozprávať, čo
          som dnes zažil/a a ako sa cítim. Veľmi by mi to pomohlo.“ Popíšte situáciu, ktorá sa stala a ako ste sa v nej
          cítili. Povedzte, ako sa cítite teraz keď o tom hovoríte. Ak ste v rozhovore poslucháčom, nedávajte rýchle
          rady, blízkej osobe pomôžete skôr tým, že budete naozaj počúvať.<br>
          Pamätajte na to, že je bežné prežívať v podobnej situácii takéto pocity a je potrebný určitý čas kým pominú.
          Namiesto sebaovbiňovania sa skúste na situáciu pozrieť konštruktívne a realisticky: čo je potrebné v danej
          situácii urobiť.<br>
          Napríklad výrok “Nemala som ísť k rodičom, keď som tesne predtým bola v lekárni a v obchode - a bez rukavíc,
          som nezodpovedná!” skúste v sebe preformulovať na “Urobila som to najlepšie, čo som v tom momente vedela!
          Teraz mám viac informácií ako som mala vtedy a využijem ich.”<br>
          Ak tieto pocity pretrvávajú viac než týždeň, obráťte sa na psychológa.
        </p>
        <h4 class="hero__heading margin-bottom">Pocity preťaženia úlohami</h4>
        <p>
          Pocity preťaženia úlohami, ktoré potrebujú byť spravené (domáce práce, jedlo, starostlivosť o deti, práca).
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Sústreďte sa iba na najbližšie kroky, ktoré sú pred vami, nechcite vyriešiť všetko naraz. Zadefinujte si pre
          seba priority. Vytvorte pre seba plán zvládnuteľných krokov, ktoré vás povedú k naplneniu cieľa. Odložte
          úlohy, ktoré nie sú urgentné a znesú odklad.<br>
          Všimnite si, či potrebujete pri niektorých úlohách asistenciu (nákup, postrážiť dieťa, nakŕmiť psa...) a
          vopred ju dohodnite.<br>
          Oddýchnite si a aspoň na pán minút si dovoľte vôbec nič nerobiť. Niekedy nás prekvapí, ako málo stačí na to,
          aby sa nám obnovili sily.<br>
          Ako na riešenie problémov a plánovanie ...<br>
          1, pomenuj problém<br>
          2, napíš na papier možné riešenia problému<br>
          3, vyber z nich jedno<br>
          4, napíš kroky ako ho zrealizovať
        </p>
        <h4 class="hero__heading margin-bottom">Zmeny v postojoch či náhľade na svet alebo seba</h4>
        <p>
          Výrazné zmeny v prístupe k životu a sebe samému/samej bývajú pri podobných udalostiach časté. Ľudia môžu
          prehodnocovať vlastné hodnoty, presvedčenia či zvažovať väčšie zapojenie sa do pomoci druhým.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Pokiaľ je to možné, presuňte prípadné veľké životné rozhodnutia na neskôr. Zapojte sa do komunitných či
          celospoločenských podporných aktivít.<br>
          Napríklad: Zavolajte na svoj mestský či obecný úrad s ponukou pomoci iným počas epidémie. Zamyslite sa nad
          tým, čo viete robiť sami.<br>
          Ľudia šijú rúška, pomáhajú s nákupom, vylepujú plagáty s návodmi ako sa správať aby sme predišli nákaze.
          Niektorí organizujú skupinové videohovory s kolegami, susedmi či príbuznými. Iní darujú krv. Viac o
          možnostiach pomôcť:<br>
          <a href="https://www.forbes.sk/slovenskom-presla-velka-vlna-solidarity-pomoct-mozete-aj-vy/">https://www.forbes.sk/slovenskom-presla-velka-vlna-solidarity-pomoct-mozete-aj-vy/</a>
        </p>
        <h4 class="hero__heading margin-bottom">Zvýšené užívanie alkoholu alebo návykových látok</h4>
        <p>
          Mnoho ľudí s pocitmi bezmocnosti, strachu, straty kontroly, beznádeje alebo hnevu siahnu po návykových
          látkach, aby sa cítili lepšie.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Porozumenie, že užívanie látok vyvolávajúcich závislosť nie je bezpečný spôsob, ako sa vyrovnávať s touto
          situáciou. Alkohol a omamné látky navyše prispievajú k ďalším problémom, ako sú ťažkosti so spánkom, vzťahové
          problémy, fyzické ťažkosti a problémy v práci.<br>
          Ak potrebujete pomoc s nadmerným konzumom alebo závislosťou, vyhľadajte odborníka alebo svojpomocnú skupinu
          (napr. Anonymní alkoholici či Anonymní narkomani, s možnosťou Skypeových stretnutí). Ak pozorujete tento
          problém u niekoho zo svojich blízkych, môžete sa obrátiť na webstránku pre svojpomocné skupiny Al-Anon
          (<a href="www.alanonslovensko.sk">www.alanonslovensko.sk</a>).<br>
          Urobte to pre seba a svojich blízkych pokojne aj preventívne, pri náznaku problému.
        </p>
        <h4 class="hero__heading margin-bottom">Zmeny v osobných vzťahoch</h4>
        <p>
          Sme izolovaní, doma spolu trávime oveľa viac času. Rôzne reagujeme, spracúvame aventilujeme ohrozenie vírusom,
          rôzne nás ovplyvňuje izolácia a nemožnosť pracovať. Možnosa prehnane obávame o svojich blízkych, možno nás
          ruší, že novú situáciu riešia inak akomy, možno máme veľa napätia, lebo naša práca a vzťah a rodičovstvo a
          starostlivosť odomácnosť sa zlievajú. Zvýšený stres tiež môže spôsobiť, že vo vzťahu reagujemepodráždene.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Porozumenie, že blízke vzťahy sú dôležitým zdrojom zvládania záťaže. Každý z nás môžepotrebovať iný prístup v
          zvládaní súčasnej situácie. Niekto potrebuje viac hovoriť s druhými,niekto rieši problémy sám v sebe.
          Tolerujme naše rozdielnosti, hľadajme spoločné body.Učme sa vnímať a zdieľať svoje potreby – emočné, telesné
          aj pracovné.<br>
          Ak ste v strese alebo potrebujete pomôcť s dennými aktivitami, obráťte sa na blízkych sožiadosťou o podporu.
          Namiesto dávania rád alebo doporučení vašim blízkym, aby si „zosituácie nerobili ťažkú hlavu“, sa ich radšej
          spýtajte, ako sa majú a ako zvládajú situáciu.Ponúknite im, že si ich radi vypočujete alebo pomôžete v prípade
          potreby.
        </p>
        <h4 class="hero__heading margin-bottom">Domáce násilie</h4>
        <p class="margin-bottom-xx-large">
          Ak zažívate domáce násilie, čí už fyzické alebo psychické, či týranie blízkej azverenej osoby(môže ísť
          odospelú ženu, dieťa, seniora, muža), alebo ste jeho svedkom (aj vzdialenýmpozorovateľom), prosím kontaktujte
          špecializovanú Národnú linku pre ženu zažívajúcenásilie (<a href="tel:0800212212">0800212212</a>) alebo
          napríklad Alianciu žien Slovenska
          (<a href="https://alianciazien.wordpress.com/">www.alianciazien.sk</a> ,<a
            href="tel:+421903519550">0903519550</a>).
        </p>

        <h4 class="hero__heading margin-bottom">Ťažkosti so spánkom</h4>
        <p>
          Ťažkosti so zaspávaním alebo časté budenie sa môžu byť súčasťou reakcie na záťažovú situáciu.
        </p>
        <h4 class="p3 margin-bottom-small"><b>Čo pomáha</b></h4>
        <p class="margin-bottom-xx-large">
          Chodievajte spať v rovnaký čas každý deň. V neskorších hodinách sa vyhnite nápojom s obsahom kofeínu či
          alkoholu. Cvičte, aby ste vydali energiu, ale nie tesne pred spaním. Pred spánkom relaxujte.<br>
          <a href="#cvicenia">Cvičenia prvej pomoci</a>
        </p>


        <h4 class="hero__heading margin-bottom">Prevencia v mojom duševnom zdraví</h4>
        <p>
          Čo môžeme pre svoju psychickú odolnosť robiť v časoch, keď sa cítim celkom dobre:<br>
          - Zostaňme v spojení s faktom, že táto situácia jedného dňa prejde,<br>
          - Sústreďme sa na to čo môžeme, nie na to na čo nemáme dosah,<br>
          - Pripomeňme si, že robíme najlepšie ako vieme a to samotné je dosť,<br>
          - Zostaňme v spojení so svojimi blízkymi a priateľmi. Dodáva to pocit bezpečia a zmierňuje to stres.
          Organizujme online stretnutia,<br>
          - Vytvorme si denný režim, rutinu - spávajme v rovnakom čase, dodržiavajme čas na jedlo, prácu, oddych, online
          stretnutia s priateľmi,<br>
          - Nájdime si čas na cvičenie, koníčky, meditovanie, čokoľvek, čo nám robí radosť a nie je to povinnosť, udrží
          nás to v kondícii,<br>
          - Obmedzme svoj prístup k médiám na raz alebo dvakrát denne. Sledovanie správ v nás udržiava napätie a pocit
          ohrozenia,<br>
          - Zapojme sa do komunitnej pomoci, zistite či niečo nepotrebuje niekto z Vašich blízkych, susedov, priateľov
          (potom čo s postaráme o seba),<br>
          - Ak začíname pociťovať stres, hovorme o tom. Je to normálne zažívať obavy v situácii neistoty. Oslovme
          priateľov, blízkych, alebo si urobme denník a píšme o tom.<br><br>
          Články o duševnom zdraví a psychickej odolnosti v náročnom období:<br>
          <a
            href="https://dennikn.sk/1820921/velky-psychologicky-manual-ako-zvladnut-karantenu-a-socialnu-izolaciu/?ref=tit1">Veľký
            psychologický manuál</a><br>
          <a
            href="https://www.forbes.sk/psychologicka-o-dopadoch-koronavirusu-hybu-nami-emocie-no-zatial-som-paniku-nezachytila/?fbclid=IwAR3ZPWwwAOHc0YuIXc5uzW1D_561gBKxL33g3i9XW4l87HKw8Ec3HUfM0Qs">Psychologička
            o dopadoch koronavírusu</a><br>
          <a
            href="https://www.mindpark.sk/post/čo-so-stresom-a-úzkosťou-v-čase-epidémie-rad%C3%AD-psychológ?fbclid=IwAR0dTn77Kuhi8TyepztGWZ_ltqWyULrXvwINBr0owxleeigRFwLyqKw-A3o">Čo
            so stresom a úzkosťou v čase epidémie</a><br>
        </p>
      </div>
    </article>
    <article class="article">
      <header>
        <h2 class="hero__heading-standalone text-center">Odborní garanti</h2>
      </header>
      <div class="article__body">
        <p class="p1 hero__subheading">Našim zámerom je poskytovať kvalitnú starostlivosť pre ľudí, ktorí to potrebujú.
          Kvalitu pre nás garantujú odborníci.</p>
        <p class="p3">
          <strong>Liga za duševné zdravie.</strong> Liga za duševné zdravie je mimovládna nezisková organizácia, ktorá
          už 20 rokov bojuje za to, aby sa kvalitná starostlivosť o duševné zdravie stala na Slovensku štandardom. Liga
          združuje 31 organizácií na poli duševného zdravia vrátane pacienstkych organizácií, úzko spolupracuje s
          komorami psychológov a psychiatrov a prevádzkuje non-stop anonymnú linku dôvery Nezábudka.
        </p>
        {# <p class="p3"><strong>Zuzana Vasičáková Očenášová</strong> (časť “Ako si pomôcť sám”)</p> #}
        {# <p class="p3"><strong>Veronika Holíková</strong> (časť “Ako si pomôcť sám”)</p> #}
        {# <p class="p3"><strong>Andrej Jeleník</strong> (časť “Ako si pomôcť sám”, autor audionahrávky)</p> #}
        <p class="p3">
          <strong>Tvorba textov v časti “Ako si pomôcť sám?”</strong><br>
          Zuzana Vasičáková Očenášová, Veronika Holíková, Andrej Jeleník, Veronika Melicherová<br>
          <strong>Garantky:</strong><br>
          Hana Vojtová, Slávka Takáčová<br>
        </p>
      </div>
    </article>
  </div>
{% endblock %}
