<style>
  .modal {
    max-width: 1100px;
    border-radius: 0;
    vertical-align: top;
  }

  #stopping-activity-modal ul {
    list-style: disc;
  }

  #stopping-activity-modal ul li {
    font-size: 18px;
  }

  .inner-modal {
    max-width: 1020px;
    margin: auto;
  }
</style>
<div class="inner-modal">
  <article>
    <header>
      <h1 class="article__heading">
        Kto pomohol Slovensku? My všetci. Ďakujeme.
      </h1>
    </header>
    <div class="article__body">
      <p class="margin-bottom-large">
        Iniciatíva #KtoPomozeSlovensku vznikla na začiatku pandémie, keď si ešte nikto z nás nevedel predstaviť jej
        priebeh a možné následky. Obrázky z Talianska však vyvolávali tie najhoršie obavy, že ak sa podobný scenár
        zopakuje u nás, náš zdravotný systém to nemôže zvládnuť. Rukavice, chirurgické rúška, respirátory, operačné
        čiapky, ochranné štíty, overaly, dezinfekčné prostriedky, okuliare, bezkontaktné teplomery, germicídne žiariče,
        čističky vzduchu – to všetko chýbalo nemocniciam, ambulanciám, zariadeniam sociálnych služieb, záchranárom,
        lekárňam.
        A to bol impulz, aby sa dala dokopy skupina ľudí, ktorá sa naživo predtým nikdy nestretla, a pokúsila sa
        situáciu zvládnuť. To podstatné sa však podarilo iba vďaka tým, ktorí našej iniciatíve dali dôveru a podporili
        ju finančne, tovarmi a službami, ale aj nespočetnými hodinami svojho času a energie.
      </p>
      <p class="margin-bottom-large">
        Počas dvoch mesiacov, v najťažšom období pandémie, sa nám spoločne podarilo vyzbierať vyše 1,3 milióna eur na
        adresnú pomoc zdravotníckym zariadeniam. Bolo to spolu 10 626 darov od 186 firiem a 10 404 jednotlivcov.
      </p>
      <div>
        <p>Ďakujeme darcom každého jedného daru. Ale aj tým, ktorí prispeli nielen finančnou čiastkou, ale najmä svojou energiou, časom, know how a profesionalitou: </p>
        <ul>
          <li>programátorom stránky a ďalším skvelým zázračným ľuďom z Pixel Federation, ktorí organizovali runnerov, riadili faktúry a nákupy, aktualizovali web a sociálne médiá,</li>
          <li>neúnavnému dopytovému a distribučnému tímu z Curaprox Slovensko, ktorí neúnavne zberali a overovali dopyty a pripravovali distribúciu,</li>
          <li>komunikačným profesionálom zo SEESAME, ktorí sa starali o to, aby sa o ľudia dozvedeli o možnosti pomáhať,</li>
          <li>Kalixt Slovensko s.r.o. za poskytnutie skladu,</li>
          <li>DPD SK, vďaka nim sa ťažko získané ochranné pomôcky plynulo a rýchlo dostávali zdravotníkom a ľuďom v prvej línii,</li>
          <li>ľuďom z portálu Sashe za šitie rúšok, ktoré sa pri zvládnutí pandémie ukázali ako kľúčové,</li>
          <li>Demotivácii a všetkým influencerom, vďaka ktorým sa v pomoci spojilo celé Slovensko,</li>
          <li>VÚB za nasadenie pri získaní unikátnych čističiek vzduchu pre UNB a poskytnutie reklamného priestoru a Rádiu Express za neskutočnú mediálnu podporu,</li>
          <li>a v neposlednom rade všetkým runnerom, pilotom a pomocníkom za každú dobrovoľne strávenú minútu na ceste, v lietadle či v sklade, ktorou ste tomuto projektu pomohli.</li>
        </ul>
        <p class="margin-bottom-large"></p>
        <p>
          Ďakujeme vám všetkým za všetky vaše podporné správy, ochotu pomôcť, zapojiť sa, ísť s kožou na trh, vyjsť z komfortnej zóny, prispieť a ukázať, že dôvera a solidarita nám na Slovensku nie sú cudzie.
        </p>
        <p>
          Teraz už vďaka vám vieme, že všetko dokážeme zvládnuť.
        </p>
      </div>
    </div>
  </article>
</div>

