<style>
  .modal {
    max-width: 1100px;
    border-radius: 0;
    vertical-align: top;
  }

  #stopping-activity-modal ul {
    list-style: disc;
  }

  #stopping-activity-modal ul li {
    font-size: 18px;
  }


  .inner-modal {
    max-width: 1020px;
    margin: auto;
  }
</style>
<div class="inner-modal">
  <article>
    <header>
      <h1 class="article__heading">
        #KtoPomozeSlovensku: úprimne ďakujeme, pomohli sme my všetci
      </h1>
    </header>
    <div class="article__body">
      <p class="margin-bottom-large">
        Radi by sme vám v mene tímu #KtoPomozeSlovensku dali vedieť, že vo svetle vývoja situácie sme sa rozhodli ukončiť
        získavanie finančných prostriedkov na pomoc zdravotníkom a ľuďom v prvej línii a presmerovať našu pomoc k
        prepájaniu potrieb nielen zdravotníkov, ale aj ostatných zraniteľných skupín, komunít a pomáhajúcich organizácií s
        tými, ktorí pomôcť môžu a chcú. Budúci týždeň predstavíme aplikáciu, ktorá v tomto pomôže.
      </p>
      <p class="margin-bottom-large">
        Rozhodli sme sa ukončiť získavanie finančných prostriedkov, pretože akútna fáza už pominula a ochranné prostriedky
        sú už v zásade dostupné. Máme za to, že teraz sa treba sústrediť na zmierňovanie dôsledkov koronakrízy v rôznych
        oblastiach – od zlepšovania pripravenosti zdravotníctva, sociálnej sféry, ekonomických dôsledkov krízy či pomoci
        zraniteľným skupinám v našej spoločnosti. V tomto procese budú okrem iného hrať dôležitú úlohu aj neziskové
        organizácie, ktoré budú v nasledujúcom období potrebovať kontinuálnu pomoc dobrých ľudí a darcov. Takže prosím už
        neposielajte peniaze nám, ale vyberte si niektorú z nich - treba im pomáhať a venovať im náš záujem a pozornosť!
      </p>
      <p class="margin-bottom-large">
        #KtoPomozeSlovensku viac ako dva mesiace denne pomáhalo našej krajine zvládnuť koronakrízu a chrániť zdravotníkov
        a ľudí v prvej línii. Všetci sme sa na začiatku obávali omoho rýchlejšieho šírenia nákazy. Veríme, že aj vďaka nám
        a vám, ktorí ste darovali, nie je na Slovensku viac prípadov.
      </p>
      <p class="margin-bottom-large">
        Chceme sa úprimne poďakovať celému tímu a všetkým darcom – firmám aj jednotlivcom, ktorí spoločne pomohli
        Slovensku. Je to dôkaz, že v krízovej situácii si vieme pomôcť, vytvoriť funkčný koncept založený na dôvere,
        spolupráci a spoločnom záujme. Zvládli sme to my všetci – spolu s vami a vďaka vám.
      </p>
      <h3 class="article__heading">Čo sa nám spoločne podarilo</h3>
      <div>
        <p>K dnešnému dňu sme vyzbierali <b>{{ account_credit() }} €</b> a za všetky tieto finančné prostriedky sme
          zabezpečili pomoc pre zdravotníkov a ľudí v prvej línii, ktorá im pomohla bojovať s rizikom nákazy:</p>
        <ul>
          <li>viac ako <b>268 tisíc rôznych rúšok a respirátorov</b></li>
          <li>viac ako <b>6300 ochranných oblekov</b></li>
          <li>viac ako <b>245 tisíc párov rukavíc</b></li>
          <li><b>desiatky tisíce litrov dezinfekcie, viac ako 932 bezkontaktných teplomerov</b></li>
          <li><b>stovky kusov germicídnych žiaričov, čističe vzduchu a prístroje, ktoré budú slúžiť aj po korona kríze</b>
          </li>
          <li><b>Podpora odberového miesta</b> na testovanie s Slovenským Červeným krížom v Banskej Bystrici</li>
          <li><b>Hovorme o tom</b> - systém dostupnosti psychologickej pomoci v spolupráci s Ligou za duševné zdravie a
            psychológmi
          </li>
        </ul>
        <p class="margin-bottom-large"></p>
        <p>
          Všetky zostávajúce finančné prostriedky vrátane tých, ktoré ešte v najbližších dňoch prídu, použijeme na nákup
          germicídnych žiaričov, ktoré zabezpečujú dezinfekciu priestorov a z terénu boli veľmi žiadané. Sú veľmi potrebné
          dnes, aby sa zdravotnícke a sociálne zariadenia mohli účinne chrániť pred nákazou a budú potrebné v prípade
          ďalšej potenciálnej vlny nákazy.
        </p>
      </div>
    </div>
  </article>
</div>

